*.env
node_modules

public/images
public/imagesBackUp

scripts/migrateEmailsToAES.js
scripts/migrateOffersAcceptSharing.js
scripts/migratePasswordsToBcrypt.js
scripts/seedTestUsers.js
scripts/migration_resilinkv2_to_v3.js
scripts/dechiffreUserMdpAES.js

Dockerfile
docker-compose.yml
.dockerignore
docker/